<ngx-spinner></ngx-spinner>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">


<!-- Listado de invitados -->
<div class="boxHeader" style="color: #02011b; height:2px">
	.
</div>
<br>
<div class="buttons">
	<h1>Administrar <code>Invitados</code></h1>
	<!-- <button class="pulse">Pulse</button>
	<button class="close">Close</button>
	<button class="raise">Raise</button> -->
	<button (click)="openNewUser()" class="up">Agregar Invitado</button>
	<button pButton icon="pi pi-send" label="Notificar" (click)="sendUsersMail()" style="color:#4f62fa"></button>
	<button (click)="openImportData()" class="offset">Importar Invitados</button>
</div>
<br>
<!-- <p-toolbar class="tb1" styleClass="p-mb-4">
	<ng-template pTemplate="left">
		<button pButton pRipple type="button" label="Agregar invitado" class="p-button-text p-button-plain"
			(click)="openNewUser()"></button>
	</ng-template>
	<ng-template pTemplate="right">
		<button pButton pRipple type="button" label="Importar invitados" class="p-button-text p-button-plain"
			(click)="openImportData()"></button>
	</ng-template>
</p-toolbar> -->

<p-table #dt [value]="users" [rows]="10" [paginator]="true"
	[globalFilterFields]="['chair.name', 'chair.table.name' , 'name', 'email']" responsiveLayout="scroll"
	[(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
	currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
	<!-- <ng-template pTemplate="caption">
		<div class="p-d-flex p-ai-center p-jc-between">
			<p-toolbar class="tb2" styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<div class="box-2">
						<div *ngIf="selectedUsers?.length > 0" (click)="deleteSelectedUsers()" class="btn btn-two"
							style="width: 100px;">
							<span>Eliminar</span>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="right">
					<div class="box-1">
						<div (click)="sendUsersMail()" class="btn btn-one" style="width: 100px;">
							<span>Enviar correos</span>
						</div>
					</div>
				</ng-template>
			</p-toolbar>
		</div>
	</ng-template> -->
	<ng-template pTemplate="header">
		<tr>
			<th style="width: 3rem">
				<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
			</th>
			<th pSortableColumn="first_name">Nombres<p-sortIcon field="first_name"></p-sortIcon>
			</th>
			<th pSortableColumn="last_name">Apellidos<p-sortIcon field="last_name"></p-sortIcon>
			</th>
			<th pSortableColumn="email">Correo<p-sortIcon field="email"></p-sortIcon>
			</th>
			<th>Mesa</th>
			<th>Silla</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th>
				<button pButton icon="pi pi-trash" *ngIf="selectedUsers?.length > 0"
					(click)="deleteSelectedUsers()" class="p-button-outlined p-button-danger" style="color: #c52424"></button>
			</th>
			<th>
				<p-columnFilter type="text" field="first_name" [matchMode]="'contains'" placeholder="Buscar...">
				</p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="last_name" [matchMode]="'contains'" placeholder="Buscar...">
				</p-columnFilter>
			</th>
			<th>
				<p-columnFilter type="text" field="email" [matchMode]="'contains'" placeholder="Buscar...">
				</p-columnFilter>
			</th>
			<th>
				<p-dropdown [options]="tables" (onChange)="dt.filter($event.value, 'chair.table.name', 'equals')"
					autoWidth="false" [style]="{'width':'120px'}" styleClass="p-column-filter" placeholder="Buscar..."
					[showClear]="true">
					<ng-template let-option pTemplate="item">
						<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
					</ng-template>
				</p-dropdown>
			</th>
			<th>
				<p-dropdown [options]="chairs" (onChange)="dt.filter($event.value, 'chair.name', 'equals')"
					autoWidth="false" [style]="{'width':'120px'}" styleClass="p-column-filter" placeholder="Buscar..."
					[showClear]="true">
					<ng-template let-option pTemplate="item">
						<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
					</ng-template>
				</p-dropdown>
			</th>
			<th></th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-user>
		<tr>
			<td>
				<p-tableCheckbox [value]="user"></p-tableCheckbox>
			</td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td>{{user.email}}</td>
			<!-- columnas de la mesa -->
			<td *ngIf="user?.chair">{{user.chair.table.name}}</td>
			<td *ngIf="user?.chair==null">
				<div style="font-size: 13px"> </div>
			</td>
			<!-- columnas de la silla -->
			<td *ngIf="user?.chair">
				<p>{{user.chair.name}}
					<button pButton pRipple icon="pi pi-minus" style="width: 20px; height:10px; color: #fc1f1f;"
						class="p-button-outlined" (click)="removeChair(user)"></button>
					<!-- <button class="addSeat" style="width: 25px; height:25px; padding: 0.5em 0.2em;"
						(click)="removeChair(user)"></button> -->
				</p>
			</td>
			<td *ngIf="user?.chair==null">
				<button pButton pRipple icon="pi pi-plus" style="width: 20px; height:10px; color: #02ccc6;"
					class="p-button-outlined" (click)="addChair(user)"></button>
			</td>
			<!-- columnas de crud -->
			<td>
				<button pButton pRipple icon="pi pi-pencil" style="width: 20px; height:10px; color: #4f62fa;"
					class="p-button-outlined" (click)="editUser(user)"></button>
			</td>
			<td>
				<button pButton pRipple icon="pi pi-trash" style="width: 20px; height:10px"
					class="p-button-outlined p-button-danger" (click)="deleteUser(user)"></button>
			</td>
		</tr>
	</ng-template>
</p-table>

<!-- Modal del invitado -->
<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Informacion del invitado" [modal]="true"
	styleClass="p-fluid">
	<ng-template pTemplate="content">
		<form [formGroup]="formUser" (ngSubmit)="onSubmitUser()">

			<div class="p-field">
				<input id="firstName" type="first_name" pInputText formControlName="first_name" placeholder="Nombres" />
				<small *ngIf="formUser.get('first_name').invalid && formUser.get('first_name').touched">* Por favor
					ingrese sus nombres</small>
			</div>
			<br>
			<div class="p-field">
				<input id="lastName" type="last_name" pInputText formControlName="last_name" placeholder="Apellidos" />
				<small *ngIf="formUser.get('last_name').invalid && formUser.get('last_name').touched">* Por favor
					ingrese sus nombres y apellidos</small>
			</div>
			<br>
			<div class="p-field">
				<input id="email" type="email" aria-describedby="email-help" pInputText formControlName="email"
					placeholder="Correo" />
				<small *ngIf="formUser.get('email').invalid && formUser.get('email').touched">* Por favor ingrese su
					correo</small>
			</div>
			<br>

			<button type="submit" pButton pRipple label="Aceptar" icon="pi pi-save"
				class="p-button-success p-button-raised"></button>
		</form>
	</ng-template>
</p-dialog>

<!-- Modal de agregar silla -->

<p-dialog (onHide)="tableSelected=false" [(visible)]="chairDialog" [style]="{height: '350px', width: '300px'}" header=""
	[modal]="true" styleClass="p-fluid">
	<ng-template pTemplate="content">
		<form [formGroup]="formChair" (ngSubmit)="onSubmitChair()">

			<div class="p-field">
				<p-dropdown [options]="tables" (onChange)="selectTable($event)" placeholder="Seleccione una mesa"
					optionLabel="name" [showClear]="true"></p-dropdown>
			</div>
			<br>
			<div class="p-field" *ngIf="tableSelected">
				<p-dropdown [options]="chairsById" (onChange)="selectChair($event)" placeholder="Seleccione una silla"
					optionLabel="name" [showClear]="true"></p-dropdown>
			</div>
			<div>
			</div>
			<br>

			<button *ngIf="chairSelected" type="submit" pButton pRipple label="Aceptar" icon="pi pi-save"
				class="p-button-success p-button-raised"></button>
		</form>
	</ng-template>
</p-dialog>

<!-- import data dialog -->

<p-dialog [(visible)]="importDataDialog" header="Import Data" [style]="{width: '50vw'}" [modal]="true"
	styleClass="p-fluid">
	<ng-template pTemplate="content">
		<div><input id="file-upload" type="file" (change)="fileUpload($event)" name="fileUpload" accept=".xls, .xlsx">
			<label for="file-upload" id="file-drag"></label>
		</div>
		<br>
		<p-table *ngIf="importedData" [value]="importedData" responsiveLayout="scroll">
			<ng-template pTemplate="header">
				<tr>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Email</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-imported>
				<tr>
					<td>{{imported.first_name}}</td>
					<td>{{imported.last_name}}</td>
					<td>{{imported.email}}</td>
				</tr>
			</ng-template>
		</p-table>
		<button pButton pRipple label="Importar Informacion" class="p-button-success p-mr-2"
			(click)="onSubmitImport()"></button>
	</ng-template>
</p-dialog>

<!-- comentario de prueba -->