img {
  // height: 80px;
  // width: 80px;
  width: 100%;
  padding: 1px;
}

.centered {
  position: absolute;
  border: 1px solid;
  border-color: #2b6777;
  background-color: #c8d8e4;
  border-radius: 3px;
  display: flex;
  width: auto;
  padding: 5px;
  font-weight: 400;
  z-index: 999;
  color: #2b6777;
  font-size: 14px;
  transform: translate(120%, -40%);
}

// =========================================================
// =====================DRAGULA CSS=========================
// =========================================================

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

// ================================================================================
// =========================Separador del header===================================
// ================================================================================
.boxHeader {
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(79, 98, 250, 1) 0%,
      rgba(233, 88, 44, 1) 33%,
      rgba(2, 204, 198, 1) 66%,
      rgba(97, 132, 232, 1) 97%);
  // background: linear-gradient(
  //   90deg, rgba(146,254,157,1) 0%,
  //    #00ff91 20%,
  //     rgba(2,204,198,1) 40%,
  //      #439ede 80%,
  //       rgba(79,98,250,1) 100%);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  height: 1px
}



// ================================================================================
// =================================SIDEBAR========================================
// ================================================================================
.sidebar {
  border: 2px solid #2b7573;
  position: absolute;
  width: 250px;
  // height: calc(100vh - 10.5rem);
  height: auto;
  max-height: auto;
  overflow-y: auto;
  user-select: none;
  background-color: var(--surface-overlay);
  border-radius: 4px;
  padding-top: 0.6rem;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-left: 20rem;
  margin-top: -3.5rem;
  z-index: 1;

}

.sidebar-header {
  display: grid;
  height: 25px;
  width: 228px;
  grid-template-columns: 90% 10%;
  box-sizing: border-box;  
}

////////////////////////////////////////////////////////////////
//////////////////Todos los botones/////////////////////////////
////////////////////////////////////////////////////////////////

// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow:
    inset -5.6em 0 0 0 var(--hover),
    inset 5.6em 0 0 0 var(--hover);
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {
  box-shadow:
    0.2em 0.2em 0 0 var(--color),
    inset 0.1em 0.1em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
// Make a map with the class names and matching colors
$colors: (fill: #ff7f82,
  pulse: #ef6eae,
  close: #a972cb,
  raise: #e4cb58,
  up: #ffa260,
  slide: #8fc866,
  offset: #19bc8b);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
// Loop through the map and set CSS custom properties using Sass variables
@each $button,
$color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above.
// We get to use the same structure, only changing the custom properties.
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}

// Basic button styles
button {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}

code {
  color: #19bc8b;
  //color: #02ccc6;
  font: inherit;
}

// ===================================================================================
// ===============================Onhover====================================
// ===================================================================================



///////////////////////////////////////////////////////////////////

// ================================================================================
// =================================CONTENEDOR CON GRADIENT========================
// ================================================================================


@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}

// ==============================Spacer================================

.spacer {
  height: 50px;
  margin: 0 0 -50px 0;
  /* margin: 20px 0 -50px 0; use this if you want #container to have a 'bottom padding', in this case of 20px */
  background: transparent;
  /* you'll need this if #container's parent element has a different background from #container itself */
}

//=====================================================================
.main-container {
  position: relative;
  margin-left: 5px;
  margin-bottom: 50px;
  width: 95%;
  height: 101%;
  min-height: 520px;
  min-width: 510px;
  border: 3px solid;
  display: flex;
  // grid-template-columns: 19% auto;
  // border-color: #19bc8b;
  border-color: #2b7573;
  border-radius: 4px;
  // background-color: var(--surface-overlay);

  box-sizing: border-box;
  // min-height: 515px;
  // min-width: 1071px;
  // resize: both;
  // overflow: auto;
}

.filters{
  width: 90%;
  height: 120%;
}

.box-container {
  position: relative;
  overflow: hidden;
  width:100%;
  box-sizing: border-box;

  // border: 3px solid black;
  background-color: #dddddd;
}

.container-tables {
  position: absolute;
}

.table-guest-container {
  position: absolute;
  border: solid 1px #1b3f6e;
  width: auto;
  height: 100%;
  min-width: 100px;
  display: inline-block;
  vertical-align: top;
  z-index: 999;
  margin-top:10px;
  // transform: translate(-10%, 130%);
  font-weight: 400;
}

.bottom-container{
  position: absolute;
  display: inline-block;
  max-height: 30px;
}

.tbl-counter {
  color: #1b6e6a;
  position: absolute;
  width: 200px;
  transform: translate(0%, 30%);
}


.guests-container {
  padding-top: 5px;
  width: 115%;
  max-width: 117%;
  display: inline-block;
  vertical-align: top;
}

.guest-header {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 94% 6%;
}

.guest-list {
  height: calc(100vh - 13.4rem);
  margin-top: 10px;
  width: 228px;
  border: solid 1px rgb(204, 204, 204);
  min-height: 60px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  overflow: hidden;
  overflow-y:scroll;
  display: block;
}

.guest-box {
  padding: 7px 7px;
  border-bottom: solid 1px rgb(204, 204, 204);
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 13px;
  width: auto;
}

.tables-container {
  position: absolute;
  width: auto;
  min-width: 60px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  // border: solid 1px #070707;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 30px;
  min-width: 180px;
  background: #c8d8e4;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.table-box {
  padding: 5px 5px;
  border-bottom: solid 1px #1b3f6e;
  width: 100%;
  min-width: 140px;
  color: var(--hover);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: grab;
  background: #dddddd;
  font-size: 13px;

}

.example-handle {
  top: 10px;
  right: 10px;
  color: rgb(65, 62, 62);
  cursor: grab;
  width: 15px;
  height: 15px;
}

.handle {
  cursor: grab;
}

.contenedor-flexbox {
  // resize: both;
  overflow: auto;
  display: flex;
  width: 100%;
  height: 100%;
  /*Convertimos al menú en flexbox*/
  justify-content: space-between;
  /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
}

.btn-table {
  border: solid 2px;
  border-color: #4caa2b;
  color: #4caa2b;
  border-radius: 100px;
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: #ffa260;
    color: #ffa260;
  }

  #canvas {
    width: 100%;
    height: 100%;
    background: #111;
  }

}

//======================FONT STYLE==========================
* {
  font-family: 'Montserrat', sans-serif;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

//======================Toolbar clustering=======================

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.toolbar {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 4rem;
  height: 4rem;
  border-radius: .3rem;
  background: #171a2e;
  overflow: hidden;
  box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, .3);
  transition: all 70ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -webkit-user-drag: element;
}

.toolbar:-webkit-drag {
  opacity: 1;
}

.toolbar:hover {
  width: 14.4rem;
  height: auto;
}

.toolbar li {
  opacity: 0;
  order: 0;
  display: none;
  transition: opacity .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.toolbar:hover li {
  opacity: .5;
}

.toolbar:hover li:hover {
  opacity: .9;
}

.toolbar:hover li:hover a {
  background-position: 50% 25%;
}

.toolbar li.active {
  opacity: 1;
  order: -1;

  /*  -webkit-animation: splat 900ms linear both;*/
  border: 0;
  outline: 0;
  box-shadow: none;
}

.toolbar li,
.toolbar li a {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
}

.toolbar li a {
  text-decoration: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  transition: background-position .1s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.toolbar li:hover a:before {
  content: '';
  width: 2rem;
  height: 1.2rem;
  background: rgba(255, 255, 255, .1);
  border-radius: .3rem;
  padding: .1rem .4rem;
  font-size: 1.2rem;
  color: #eee;
  text-decoration: none;
  position: relative;
  top: 1.3rem;
}

#tool-move {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-move_3.svg);
}

#tool-move:hover:before {
  content: ':)';
}

#tool-dining-table {
  background-image: url(/assets/images/svg_toolbar_icons/dinner-table.png);
}

#tool-dining-table:hover:before {
  content: 'mesa';
}

#tool-square-table {
  background-image: url(/assets/images/svg_toolbar_icons/square-table.png);
}

#tool-square-table:hover:before {
  content: 'mesa';
}

#tool-round-table {
  background-image: url(/assets/images/svg_toolbar_icons/round-table.png);
}

#tool-round-table:hover:before {
  content: 'mesa';
}

#tool-bathroom-man {
  background-image: url(/assets/images/svg_toolbar_icons/man.png);
}

#tool-bathroom-man:hover:before {
  content: 'Caballeros';
}

#tool-bathroom-woman {
  background-image: url(/assets/images/svg_toolbar_icons/woman.png);
}

#tool-bathroom-woman:hover:before {
  content: 'Damas';
}

#tool-stage {
  background-image: url(/assets/images/svg_toolbar_icons/club.png);
}

#tool-stage:hover:before {
  content: 'Escenario';
}

#tool-dance-floor {
  background-image: url(/assets/images/svg_toolbar_icons/dance-floor.png);
}

#tool-dance-floor:hover:before {
  content: 'Pista';
}

#tool-lounge {
  background-image: url(/assets/images/svg_toolbar_icons/lounge.png);
}

#tool-lounge:hover:before {
  content: 'Salón';
}

#tool-entrance {
  background-image: url(/assets/images/svg_toolbar_icons/entrance.png);
}

#tool-entrance:hover:before {
  content: 'Ingreso';
}

#tool-exit {
  background-image: url(/assets/images/svg_toolbar_icons/exit.png);
}

#tool-exit:hover:before {
  content: 'Salida';
}

#tool-candy-table {
  background-image: url(/assets/images/svg_toolbar_icons/candy-table.png);
}

#tool-candy-table:hover:before {
  content: 'Sweets';
}

#tool-wedding-cake {
  background-image: url(/assets/images/svg_toolbar_icons/wedding-cake.png);
}

#tool-wedding-cake:hover:before {
  content: 'Cake';
}

#tool-emergency-exit {
  background-image: url(/assets/images/svg_toolbar_icons/emergency-exit.png);
}

#tool-emergency-exit:hover:before {
  content: 'Emergencia';
}

#tool-catering {
  background-image: url(/assets/images/svg_toolbar_icons/catering.png);
}

#tool-catering:hover:before {
  content: 'Catering';
}

#tool-coffee-station {
  background-image: url(/assets/images/svg_toolbar_icons/coffee-station.png);
}

#tool-coffee-station:hover:before {
  content: 'Café';
}

#tool-photo-booth {
  background-image: url(/assets/images/svg_toolbar_icons/photo-booth.png);
}

#tool-photo-booth:hover:before {
  content: 'Fotos';
}

#tool-bar {
  background-image: url(/assets/images/svg_toolbar_icons/bar.png);
}

#tool-bar:hover:before {
  content: 'Bar';
}

#tool-photo-area {
  background-image: url(/assets/images/svg_toolbar_icons/photo-area.png);
}

#tool-photo-area:hover:before {
  content: 'Área';
}

#tool-playground {
  background-image: url(/assets/images/svg_toolbar_icons/playground.png);
}

#tool-playground:hover:before {
  content: 'Juegos';
}

#tool-nursery {
  background-image: url(/assets/images/svg_toolbar_icons/nursery.png);
}

#tool-nursery:hover:before {
  content: 'Guardería';
}

// #tool-rectangle {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-rect_1.svg);
// }
// #tool-rectangle:hover:before {
//   content: 'r';
// }
// #tool-circle {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-circle_2.svg);
// }
// #tool-circle:hover:before {
//   content: 'o';
// }
// #tool-text {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-text_1.svg);
// }
// #tool-grid {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-grid_1.svg);
// }
// #tool-bluepencil {
//   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49364/ico-blue-pencil.svg);
// }
// #tool-grid:hover:before {
//   content: 'shift g';
// }

// #tool-text:hover:before {
//   content: 't';
// }
// #tool-bluepencil:hover:before {
//   content: 'shift p';
// }

::focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

//=============================================
//==============Mesas y sillas=================
//=============================================


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* TAKIT: reduced only for snippet */
}

.circle {
  // background: #2b6777;
  // border: 2px solid;
  // border-color: #111;
  height: 10%;
  width: 10%;
  z-index: 3;
  // border-radius: 50%;
  //  object-fit: fill;
  position: flex;
}

.shapes {
  position: absolute;
  top: calc(50% - var(--top));
  /* TAKIT: position at center, 25px is half the height */
  left: calc(50% - var(--left));
  /* TAKIT: position at center, 3px is half the width */
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  background: #171a2e;
  /* TAKIT: Using CSS var is cool for the rotation
            Using translate here to shift it from the center */
  transform: rotate(var(--deg)) translate(-50%, var(--distance));
}


// =================================================================================================================
// =================================================================================================================
// =================================================================================================================
// =================================================================================================================

.tables-container {
  position: absolute;
  outline: 2px dashed green;

  &.active {
    outline-style: solid;
    background-color: #80ff800d;
  }

  &:hover {
    cursor: all-scroll;
  }

  span:first-of-type {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
  }

  span:nth-of-type(2) {
    position: absolute;
    top: 50%;
    transform: translate3d(-100%, -50%, 0);
  }

  span:nth-of-type(3) {
    position: absolute;
    transform: translate3d(-100%, -100%, 0);
  }
}

// ============================================================================================================
.element-name{
  border-radius: 3px;
  position: absolute;
  // background-color: #171a2e;
  font-size: var(--size);
  z-index: 99;
  font-weight: bold;
  color: white;
  top: calc(var(--top));
  /* TAKIT: position at center, 25px is half the height */
  left: calc(var(--left));
  /* TAKIT: position at center, 3px is half the width */
  pointer-events: none;
}