<!-- <div>
  <div class="invitados-container">
    <h2>To do</h2>    
    <div dragula="VAMPIRES" [(dragulaModel)]="users" class="example-list">
      <div class="example-box" *ngFor="let user of users" >{{user.first_name}}</div>
    </div>
  </div>

  <div *ngFor="let table of tables" class="mesas-container">
    <h2>{{table.name}} {{table.id}}</h2>

    <div *ngIf="users" dragula="VAMPIRES" [(dragulaModel)]="table.users" class="example-list">
      <div class="example-box" *ngFor="let user of table.users" >{{user.first_name}}</div>
    </div>
  </div>
</div> -->

<div class="wrapper" dragula="COLUMNS" [(dragulaModel)]="tables">
  <div class="container" *ngFor="let table of tables">
    <span class="group-handle">{{table.name}}</span>
    <div class="container" dragula="ITEMS" [(dragulaModel)]="table.users">
      <div *ngFor="let user of table.users" [innerHtml]="user.first_name"></div>
    </div>
  </div>
</div>

<button (click)="saveChanges()">guardar</button>

