<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
<ngx-spinner></ngx-spinner>
<div *ngIf="loggedUser?.roles[0]?.name=='Admin' || loggedUser?.roles[0]?.name=='Viewer'" class="boxHeader"
  style="height:2px">
</div>
<br>
<div *ngIf="loggedUser?.roles[0]?.name=='Admin' || loggedUser?.roles[0]?.name=='Viewer'" class="buttons">
  <h1>Administrar <code>Mesas {{loggedUser?.roles[0]?.name}}</code></h1>
</div>
<p-menubar *ngIf="loggedUser?.roles[0]?.name=='Admin' || loggedUser?.roles[0]?.name=='Viewer'" [model]="items">
  <!-- <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search">
  </ng-template> -->
</p-menubar>

<div *ngIf="loggedUser?.roles[0]?.name=='Admin' || loggedUser?.roles[0]?.name=='Viewer'" class="sidebar" cdkDrag>
  <div class="sidebar-header" (dblclick)="guestListIsToggled = !guestListIsToggled">
    <h5>Invitados</h5>
    <div class="example-handle" cdkDragHandle>
      <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>
  <div *ngIf="guestListIsToggled" class="guests-container"><br>
    <div class="guest-header">
      <form style="display: grid;
      grid-template-columns: 33% 33% 33%;" [formGroup]="formFilters">
        <input class="filters" pInputText type="text" name="filters" placeholder="Nombres" formControlName="first_name"
          (input)="searchGuest()" />
        <input class="filters" pInputText type="text" name="filters" placeholder="Apellidos" formControlName="last_name"
          (input)="searchGuest()" />
        <input class="filters" pInputText type="text" name="filters" placeholder="Grupo" formControlName="cualquier"
          (input)="searchGuest()" />
      </form>
      <input type="checkbox" [indeterminate]="milestone?.status === false" [ngModel]="milestone?.status === true"
        (ngModelChange)="checkMilestone(milestone)">
    </div>
    <div id="invitados" dragula="SPILL" [(dragulaModel)]="users" class="guest-list">
      <div class="guest-box" *ngFor="let user of users">
        <div style="display:grid;  grid-template-columns: 80% auto;">
          {{user.first_name}} {{user.last_name}}
          <button *ngIf="user.confirmation==true" pButton pRipple type="button" icon="pi pi-check"
            class="p-button-rounded p-button-text" style="color: #02ccc6; height: 100%; padding:1px"></button>
          <button *ngIf="user.confirmation==false" pButton pRipple type="button" icon="pi pi-times"
            class="p-button-rounded p-button-text" style="color: red; height: 100%; padding:1px"></button>
        </div>
        <div>
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="box-container">
    <div #tableContainer class="container-tables" dragula="COLUMNS" [(dragulaModel)]="tables">
      <!-- ==================================Elementos del lienzo============================== -->
      <div id="{{canvasElement.id}}" *ngFor="let canvasElement of canvasElements; '$implicit.id' as i"
        class="tables-container" cdkDragBoundary=".box-container" (cdkDragEnded)="dragEnd($event, canvasElement.id)"
        (mouseover)="isHovered[i] = true" (mouseout)="onHoverOut(i)" (dblclick)="isToggled[i] = !isToggled[i]"
        [cdkDragDisabled]="loggedUser?.roles[0]?.name!='Admin' && loggedUser?.roles[0]?.name!='Viewer'" cdkDrag>
        <div class="element-name" style="
                --top:{{canvasElement.height/2.6}}px;
                --left:{{canvasElement.width/2.6}}px;
                --size:{{canvasElement.width/3}}px;">
          <ng-container *ngIf="canvasElement.catalogue_id == 18" >{{canvasElement.code}}</ng-container>
          <ng-container *ngIf="canvasElement.catalogue_id == 34" >{{idOf(canvasElement.code)}}</ng-container>
          
        </div>
        <div [ngStyle]="{'resize': (loggedUser?.roles[0]?.name=='Admin') ? 'both' : null }" class="contenedor-flexbox"
          (resized)="onResized($event)">
          <div class="handle" cdkDragHandle>
            <div class="main">
              <img class="circle" id="img{{canvasElement.id}}"
                src="assets/images/svg_toolbar_icons/{{canvasElement.image}}" alt="{{canvasElement.name}}">
              <ng-container *ngIf="canvasElement.catalogue_id == 18">
                <div *ngFor="let deg of canvasElement.chairs" class="shapes" style="--deg:{{deg+53}}deg;
                --width:{{canvasElement.width/(canvasElement.chairs.length/2)}}px;
                --height:{{canvasElement.height/(canvasElement.chairs.length/2)}}px;                        
                --distance:{{canvasElement.height*0.6}}px;
                max-width: 50px;
                max-height: 50px;">
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="loggedUser?.roles[0]?.name=='Admin' || loggedUser?.roles[0]?.name=='Viewer'"
          class="bottom-container">
          <strong *ngIf="(canvasElement.catalogue_id == 18 || canvasElement.catalogue_id == 34) && !isToggled[i]"
            class="tbl-counter">
            <div style="width:140px; display:grid;
            grid-template-columns: 70% 15% 15%;">
              <div style="display:grid; grid-template-columns: 80% 20%;">
                Invitados:
                <code style="color: rgb(233, 131, 35);">
                {{canvasElement.users_count}}
                </code>
              </div>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteElement(canvasElement)" style="width: 15px; height: 10px;">
              </button>
              <button pButton pRipple icon="pi pi-save" class="p-button-rounded p-button-success"
                (click)="resizeDiv(canvasElement.id, canvasElement.catalogue_id)" style="width: 15px; height: 10px;">
              </button>
            </div>
          </strong>
          <strong *ngIf="canvasElement.catalogue_id != 18 && canvasElement.catalogue_id != 34" class="tbl-counter">
            <div style="display: grid;
            grid-template-columns: 70% 15% 15%;">
              {{canvasElement.name}}
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteElement(canvasElement)" style="width: 15px; height: 10px;">
              </button>
              <button pButton pRipple icon="pi pi-save" class="p-button-rounded p-button-success"
                (click)="resizeDiv(canvasElement.id, canvasElement.catalogue_id)" style="width: 15px; height: 10px;">
              </button>
            </div>
          </strong>
          <div *ngIf="(canvasElement.catalogue_id == 18 || canvasElement.catalogue_id == 34) && isToggled[i]"
            class="table-guest-container">
            <div dragula="SPILL" [(dragulaModel)]="canvasElement.users" class="example-list">
              <div class="table-box" *ngFor="let user of canvasElement.users">
                {{user.first_name}} {{user.last_name}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(canvasElement.catalogue_id == 18 || canvasElement.catalogue_id == 34) && isHovered[i]"
          class="centered">
          <ul>
            <li *ngFor="let user of canvasElement.users">
              {{user.first_name}} {{user.last_name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>

  <p-dialog [(visible)]="tableByNumberDialog" [style]="{width: '300px'}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="grid p-fluid">
        <div>
          <label for="minmax-buttons">Número de mesas</label>
        </div>
        <div>
          <p-inputNumber [(ngModel)]="number" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1"
            [max]="17">
          </p-inputNumber>
        </div>
      </div>
      <br>
      <div class="grid p-fluid">
        <div *ngIf="tableType == 'round'">
          <label for="minmax-buttons">Número de sillas</label>
        </div>
        <div *ngIf="tableType == 'round'">
          <p-inputNumber [(ngModel)]="chairsNumber" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
            [min]="1" [max]="17">
          </p-inputNumber>
        </div>
      </div>
      <br>
      <br>
      <div>
        <button pButton pRipple label="Aceptar" class="p-button-success p-button-raised"
          (click)="onSubmitDiningTableByNumberWithChairs(chairsNumber, number)"
          (ngModelChange)="chairsNumber=4"></button>
      </div>
    </ng-template>
  </p-dialog>