* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    border-radius: 4px;
    resize: both;
    overflow: auto;
    position: absolute !important;
  }
  
  #first-block {
    background-color: #2db350;
    height: 300px;
    width: 300px;
    bottom: 1%;
    left: 2%;
    float: left;
    opacity: 0.8;
  }